@font-face {
  font-family: 'Acumin Pro';
  src: url('/fonts/Acumin Pro/AcuminPro-Bold.woff2') format('woff2'),
  url('/fonts/Acumin Pro/AcuminPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Acumin Pro';
  src: url('/fonts/Acumin Pro/AcuminPro-Regular.woff2') format('woff2'),
  url('/fonts/Acumin Pro/AcuminPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
